body {
	background: url("../images/concrete.jpg");
	background-repeat: no-repeat;
	background-cover: cover;
}

#soupTitle {
	font-family: 'Sniglet', cursive;
	color: #17de17;
	font-size: 45px;
}

h1 {
	text-align: center;
}

.space-filler {
	height: 30px;
}

#soupPage {
	display: block;
	margin: 0 auto;
}

.instructions {
	width: 700px;
	display: block;
	margin: 0 auto;
	font-family: 'Walter Turncoat', cursive;
	color: #03e2de;
	font-size: 25px;
}

.exampleSectionTrigger {
	font-size: 30px;
	height: 40px;
	width: 200px;
	display: block;
	margin: 0 auto;
}

.exampleSectionReveal {
	font-size: 30px;
	height: 100px;
}

#exampleTrigger {
	font-family: 'Coming Soon', cursive;
}

#exampleTrigger a {
	color: #59c6fc;
}

#exampleReveal {
	display: none;
	padding-top: 50px;
	font-family: 'Sniglet', cursive;
	color: #24a4ff;
}

#soupForm {
	text-align: center;
	padding-top: 50px;
	/*width: 80%;*/
}

#entry {
	/*width: 50%;*/
	width: 500px;
}

.answerBox {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	width: 70%;
	height: 300px;
}

#answer {
	font-size: 50px;
	font-family: 'Sniglet', cursive;
	color: #fb1818;
}