#soupPage {
	background: url("../images/concrete.jpg");
	background-repeat: no-repeat;
	background-cover: cover;

	.space-filler {
		height: 30px;
	}

}

#soupTitle {
		font-family: 'Sniglet', cursive;
		color: #17de17;
		font-size: 45px;
		text-align: center;
		h1 {
			text-align: center;
		}
	}