public/projects/inc/config.php
public/projects/inc/config.todo.php
public/projects/inc/config.np.php
config.np.php
config.todo.php
/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.env.php.html
.DS_Store
Thumbs.db