section#ff_page {
	background-size: cover;
	height: 1200px;
  font-family: 'Cinzel Decorative', cursive;
  overflow: auto;
}

#ff_page h1#main_title {
	text-align: center;
}

#ff_page article#intro {
  width: 75%;
  margin:0 auto;
  margin-top: 15px;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  background-color: #000076;
  padding: 15px;
  border: 10px ridge white;
  border-radius: 10px;
}

#card_section h3#add_label {
	text-align: center;
  width: 250px;
  margin: 0 auto;
  line-height: 60px;
  border: 1px solid black;
  background: white;
  transition: background-color 0.5s ease;
}

#card_section h3#add_label:hover {
  background: black;
}

h3#add_label:hover a {
  color: white;
}

#card_section h3 a:hover {
	text-decoration: none;
}

#card_section h3 a:focus {
	text-decoration: none;
}

ul#tab_list {
	list-style-type: none;
	padding: 0px;
	width: 80%;
	margin: 0 auto;
	background-color: white;
	background-size: cover;
	height: 240px;
}

ul#tab_list li {
	height: 120px;
	width: 20%;
	float: left;
	text-align: center;
	background-size: cover;
	/*border-top: 1px solid black;*/
	border-right: 1px solid black;
}

/* TAB LOGOS */

li#fflogo1 {
	background-image: url('../images/ff1_logo.png');
	background-size: cover;
	/*border-left: 1px solid black;*/
}

li#fflogo2 {
	background-image: url('../images/ff2_logo.png');
	background-size: cover;
}

li#fflogo3 {
	background-image: url('../images/ff3_logo.png');
	background-size: cover;
}

li#fflogo4 {
	background-image: url('../images/ff4_logo.png');
	background-size: cover;
}

ul#tab_list li#fflogo5 {
	background-image: url('../images/ff5_logo.png');
	background-size: cover;
  border-right: 0px;
}

li#fflogo6 {
	background-image: url('../images/ff6_logo.png');
	background-size: cover;
	/*border-left: 1px solid black;*/
}

li#fflogo7 {
	background-image: url('../images/ff7_logo.png');
	background-size: cover;
}

li#fflogo8 {
	background-image: url('../images/ff8_logo.png');
	background-size: cover;
}

li#fflogo9 {
	background-image: url('../images/ff9_logo.png');
	background-size: cover;
}

ul#tab_list li#fflogo10 {
	background-image: url('../images/ff10_logo.png');
	background-size: cover;
  border-right: 0px;
}

/* END TAB LOGOS */

ul#tab_list li.bottom_row {
	/*border-bottom: 1px solid black;*/
	border-top: 1px solid black;
}

ul#tab_list li a {
	line-height: 120px;
	font-size: 10em;
	display: none;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul#tab_list li a:hover {
	text-decoration: none;
}

/*ul#tab_list li a#ff6 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/

section#card_section {
  width: 85%;
  margin: 0 auto;
  height: 60%;
  /*background: blue;*/
  margin-top: 40px;
  /*overflow: scroll;*/
}

#card_section article div.tab_body {
	width: 100%;
	height: 100%;
	color: white;
}

#card_section article div.card_block {
	width: 490px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 20px;
	font-family: 'Press Start 2P', cursive;

}

#card_section article div.card_block div.char_card {
	border: 10px ridge white;
	border-radius: 10px;
	height: 300px;
	/*padding: 10px 10px 10px 10px;*/
	font-size: 16px;
	background-color: #000076;
	position: relative;
  padding: 3.5px;
}

div.card_row {
	margin: 0;
	width: 100%;
	float: left;
  overflow: auto;
}

div.char_card img {
	width: 150px;
	height: 150px;
	/*margin-left: 10px;*/
}

div.char_card a.portrait {
	width: 150px;
	height: 150px;
}

div.char_card div.bottom_row {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

div.bottom_row a.edit_btn {
  float: left;
  /*margin-left: 5px;*/
  color: blue;
}

div.bottom_row a.delete_btn {
  float: right;
  margin-right: 5px;
  color: red;
}

/*  MODAL  */
#character_modal {
  font-family: 'Cinzel Decorative', cursive;
}

form#new_char_form {
	width: 65%;
}

#new_char_form div {
  padding: 5px;
}

#new_char_form label {
  width: 35%;
}

#new_char_form button {
  width: 80px;
  line-height: 30px;
  font-size: 1.6em;
}

.invisible {
  display: none;
}

@media only screen and (max-width: 320px) {
  div.col-3-8 {
    width: 35%;
    float: left;
  }

  div.col-5-8 {
    width: 65%;
    float: left;
  }
}

