body {
	/*background-color: #000076;*/
	color: white;
}

#finalFantasyPage {
	min-height: 100%;
}

#pageTitle {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 40px;
}

.space-filler {
	height: 30px;
}

.buttonRow {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.deleteButton {
	position: absolute;
	bottom: 0;
	left: 5;
}

.deleteButton a {
	color: red;
	font-size: 1.0em;
}

.deleteButton a:hover {
	text-decoration: none;
}

.editButton {
	position: absolute;
	bottom: 0;
	right: 5;
}

.editButton a {
	color: #3f9fc6;
	font-size: 1.0em;
}

.editButton a:hover {
	text-decoration: none;
}

.fantasyButton {
	font-size: 25px;
	font-family: 'Cinzel', serif;
	color: #0b6998;
	padding-left: 15px;
}

#pagination {
	float: right;
}

.menuBox {
	display: block;
	margin: 0 auto;
	/*width: 56%;*/
}

#cardBlock {
	width: 500px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 20px;
	font-family: 'Press Start 2P', cursive;
}

.charCard {
	border: 10px ridge white;
	border-radius: 10px;
	height: 350px;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	background-color: #000076;
	position: relative;
}

.charInfo {
	padding-top: 10px;
	padding-bottom: 5px;	
}

#charPicDiv {
	width: 35%;
}

#charName {
	width: 65%;
}

.charPic {
	height: 120px;
	width: 120px;
}

.inputText {
	color: black;
}

.formBlock {
	float: left;
}

.modal-backdrop {
	z-index: 0;
}

#modalHeadline,
.modal-title {
	font-family: 'Cinzel', serif;
}

.modal {
	color: black;
	font-family: 'Cinzel', serif;
}

.modalButtonBlock {
	padding-top: 15px;
}

