
/* Affects all pages */
body {
	background-image: url("/css/images/forest.jpg");
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar {
	text-shadow: none;
}

#user-email {
	font-size: 15px;
}

.buttons {
	text-shadow: none;
}

/* Index */
#blog-body {
	text-align: center;
}

.blog-entry {
	background-color: black;
	border-radius: 25px;
	padding: 10px;
	height: 100%;
}

.blog-image {
	border-radius: 20px;
}

#pagination {
	text-shadow: none;
}

#content {
	width: 80%;
}

li {
	color: black;
}

.intro {
	color: white;
	text-align: center;
}

/* Resume */
#pic {
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

#selfie {
	height: 300px;
	width: 300px;
}

#pitch {
	font-size: 20px;
	width: 60%;
}

#paper-resume {
	text-align: center;
}

.fa {
	color: red;
	background-color: white;
}

/* Resume modals */
#modal-bar {
	width: 45%;
}

.contact-list {
	color: black;
	text-shadow: none;
}

#modal-qualifications {
	color: black;
	font-size: 15px;
	text-shadow: none;
}

.exp-heading {
	color: black;
	font-size: 20px;
	text-shadow: none;
}

.exp-body {
	color: black;
	font-size: 15px;
	width: 800px;
	text-shadow: none;
}

/* Portfolio */
.box {
	width: 300px;
	height: 300px;
	/*border: solid black 1px;*/
	float: left;
}

#main-container {
	width: 1000px;
	height: 100%;
}

.row {
	text-align: center;
}

#port-header {
	text-align: center;
}


/* Error Message */
.error {
	text-align: center;
}


