
body {
	padding-top: 85px;
	background-image: url("/css/images/field.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#qual-button {
	margin-left: 180px;
}

#portfolio-button {
	margin-left: 190px;
}

#contact-button {
	margin-left: 200px
}

.intro {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}

#pic {
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

#selfie {
	height: 180px;
	width: 180px;
	border-radius: 200px;
}

#pitch {
	font-size: 20px;
	width: 60%;
}
