body {
	background: url(../images/wood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#book {
	margin: 0 auto;
	width: 50%;
	margin-top: 10%;
	background: url(../images/paper.png);
	background-repeat: no-repeat;
	overflow: hidden;
	/*border-radius: 10px;*/
}

#contacts, #addresses {
	padding-left: 2em;
	font-family: 'Architects Daughter', cursive;
}

table {
    /*border-collapse: collapse;*/
    border: none;
}

table td, table th {
    padding: 10px;
}

