body {
	background: url(../images/wood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#whole_book {
	margin: 0 auto;
	width: 50%;
	margin-top: 10%;
	background: url(../images/paper.png);
	/*background-repeat: no-repeat;*/
	overflow: auto;
	padding: 10px;
	font-family: 'Architects Daughter', cursive;
}

#whole_book a#address_add, #whole_book a#address_add:hover {
	text-decoration: none;
	color: blue;
}

#address_book {
	width: 100%;
}

#address_book td {
	line-height: 45px;
}

#address_book img {
	height: 25px;
	width: 25px;
}