body {
	background: url(../images/wood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#whole_book {
	margin: 0 auto;
	width: 50%;
	margin-top: 10%;
	background: url(../images/paper.png);
	background-repeat: no-repeat;
	overflow: hidden;
}

#address_book td {
	width: 15%;
}

#address_book img {
	height: 25px;
	width: 30px;
}