section#ff_page {
	background-image: url('../img/background_wallpaper.jpg');
	/*background: red;*/
	background-size: cover;
	height: 1200px;
}

#ff_page h1#main_title {
	font-family: 'Cinzel Decorative', cursive;
	text-align: center;
}

article#tabs-section {
	/*width: 80%;
	margin: 0 auto;
	background-color: white;
	background-size: cover;
	height: 240px;*/
}

div#tabs {
	/*width: 80%;
	margin: 0 auto;
	background-color: white;
	background-size: cover;
	height: 240px;*/
}

ul#tab_list {
	list-style-type: none;
	padding: 0px;
	width: 80%;
	margin: 0 auto;
	background-color: white;
	background-size: cover;
	height: 240px;
}

ul#tab_list li {
	height: 120px;
	width: 20%;
	float: left;
	text-align: center;
	background-size: cover;
	/*border-top: 1px solid black;*/
	border-right: 1px solid black;
}

/* TAB LOGOS */

li#fflogo1 {
	background-image: url('../img/ff1_logo.png');
	background-size: cover;
	border-left: 1px solid black;
}

li#fflogo2 {
	background-image: url('../img/ff2_logo.png');
	background-size: cover;
}

li#fflogo3 {
	background-image: url('../img/ff3_logo.png');
	background-size: cover;
}

li#fflogo4 {
	background-image: url('../img/ff4_logo.png');
	background-size: cover;
}

li#fflogo5 {
	background-image: url('../img/ff5_logo.png');
	background-size: cover;
}

li#fflogo6 {
	background-image: url('../img/ff6_logo.png');
	background-size: cover;
	border-left: 1px solid black;
}

li#fflogo7 {
	background-image: url('../img/ff7_logo.png');
	background-size: cover;
}

li#fflogo8 {
	background-image: url('../img/ff8_logo.png');
	background-size: cover;
}

li#fflogo9 {
	background-image: url('../img/ff9_logo.png');
	background-size: cover;
}

li#fflogo10 {
	background-image: url('../img/ff10_logo.png');
	background-size: cover;
}

/* END TAB LOGOS */

ul#tab_list li.bottom_row {
	/*border-bottom: 1px solid black;*/
	border-top: 1px solid black;
}

ul#tab_list li a {
	line-height: 120px;
	font-size: 10em;
	display: none;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul#tab_list li a:hover {
	text-decoration: none;
}

/*ul#tab_list li a#ff6 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/

section#card_section {
  width: 85%;
  margin: 0 auto;
  height: 60%;
  /*background: blue;*/
  margin-top: 40px;
  overflow: auto;
}

#card_section article div.tab_body {
	width: 100%;
	height: 100%;
	color: white;
}

#card_section article div.card_block {
	width: 490px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 20px;
	font-family: 'Press Start 2P', cursive;

}

#card_section article div.card_block div.char_card {
	border: 10px ridge white;
	border-radius: 10px;
	height: 300px;
	/*padding: 10px 10px 10px 10px;*/
	font-size: 16px;
	background-color: #000076;
	position: relative;
}

div.card_row {
	margin: 0;
	width: 100%;
	float: left;
}

div.char_card img {
	width: 150px;
	height: 150px;
	/*margin-left: 10px;*/
}

